body{
   
    margin: 0;
    font-family: Noto Sans, Helvetica, sans-serif;
    background-image:url('imagens/patas2.png');
}
/*##e6ae5c <div>Ícones feitos por <a href="https://www.flaticon.com/br/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a></div>*/

#header{
    background-color: #67b2b5;
    width: 100%;
    height: 170px;
    
    margin: 0;
}

#logo{
    margin-top: 5px;
    position: relative;
    left: 50%;
    height: 120px;
    width: 600px;
    margin-left: -300px;
    padding-top: 15px;
}

#logoimg{
    float: left;
    width: 110px;
    height: 110px;
    line-height: 20px;
    margin: 5px;
    border-radius: 50%;
    
}

#logo p{ 
    margin: 0;
    color: #ed6c15;
    font-size: 70px;
    line-height: 100px;
    margin-left: 130px;
    font-weight: bolder;
    text-decoration: underline;
}

#menu {
    padding-bottom: 0;
    margin-top: 5px;
    
    position: relative;
    height: 30px;
    width: 100%;
    background-color: #ed6c15;
}

.listaMenu {
    width: 550px;
    position: relative;
    left: 50%;
    margin-left: -275px;
    margin-top: 3px;
}


.listaMenu li {
    display: inline-block;
}


.listaMenu li a {
    text-decoration: none;
    height: 50px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
}


.listaMenu li a:link,
.listaMenu li a:visited {
    color: white;
}


.listaMenu li a:hover {
    color:#ed6c15;
    background-color: white;
}


#menuAtual:link,
#menuAtual:visited {
    text-transform: uppercase;
    font-weight: bold;
}



#content {
    width: 800px;
    background-color: #c7e0e2d2;
    position: relative;
    left: 50%;
    margin-left: -400px;
    border-left:3px #ed6c15 solid;
    border-right: 3px #ed6c15 solid;
}

#destaque {
    width: 100%;
    height: 200px;
    border-bottom: 7px #ed6c15 solid;
    background-image:url('imagens/banner2.png');    
    
}

#destacar {
    margin: 0;
    padding-left: 1%;
    font-size: 70px;
    color: #ed6c15;
    text-shadow: 4px 4px 4px #67b2b5;
}

#corpo {
    width: 800px;
}

#servicoProduto {
    font-size: 40px;
    text-align: center;
    margin:0;
    padding-top: 1%;
    color: #ed6c15;
    text-shadow: 3px 3px 3px #67b2b5;
    text-decoration: underline;
}

#produtos table {
    border: 0;
    border-spacing: 60px;
    text-align: center;
    border-collapse: separate;
    padding-top: -20px;
    position: relative;
}

.nomePS {
    font-size: 30px;
    margin:0;
    margin-bottom: 5px;
    color: #ed6c15;
    font-weight: bolder;
    left: 50%;
}


#produtos td img {
    width: 300px;
    height: 200px;
    border: 2px solid #ed6c15;
}

#quemSomos {
    margin: 0;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 55px;
    color: #ed6c15;
    text-shadow: 4px 4px 4px #67b2b5;
}

#imgSobre img {
    width: 220px;
    height:220px;
    border-radius: 50%;
    border: 3px solid #ed6c15;
    position: relative;
    left: 50%;
    margin-left: -125px;
    margin-top: 2%;
}

.textCont {
    color: #ed6c15;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
}

#entrega {
    background-color: #ed6c15;
    border-radius: 10%;
    width: 250px;
    height: 100px;
    position: fixed;
    right: 5px;
    bottom: 30px;
    border: 3px dashed #ed6c15;
}

#entrega img {
    border-radius: 70%;
    float: left;
    width: 100px;
    height: 100px;
    line-height: 20px;
    left: 10px;
}

#tel {
    left: 110px;
    height: 75px;

    color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 15px;
    position: absolute;
    margin-top: 8px;
}

#tel h4 {
    font-size: 13px;
    margin: 0;
}

#tel h5 {
    margin: 0;
    font-size: 20px;
    margin-top: 8px;
}

#tel a {
    color: white;
    text-decoration: none;
}

#opcoes {
    margin: 0;
    padding-left: 7%;
    font-size: 70px;
    color: #ed6c15;
    text-shadow: 4px 4px 4px #67b2b5;
}

#contatoEnd {
    margin: 0;
    padding-top: 3px;
    margin-left: 8px;
    font-size: 75px;
    color: #ed6c15;
    text-shadow: 4px 4px 4px #67b2b5;
}

#imgReferencia{
    margin-top: 20px;
    position: relative;
    left: 50%;
    height: 220px;
    width: 700px;
    margin-left: -350px;
    padding-top: 15px;
}

#imgReferencia img {
    width: 200px;
    height:200px;
    border-radius: 50%;
    border: 3px solid #ed6c15;
    position: relative;
    left: 20px;
    margin: 0;
    float: left;
}

.pes {
    line-height: 10px;
    margin-left: 250px;
    font-size: 26px;
    color: #ed6c15;
    font-weight: bolder;
    padding-top:30px;
}



#referencia table {
    border: 0;
    border-spacing: 60px;
    text-align: center;
    border-collapse: separate;
    position: relative;
}

#referencia td img {
    width: 300px;
    height: 200px;
    border: 2px solid #ed6c15;
}

.linha {
    align-content: center;
    left: 300px;
}

.peReferencia {
    font-size: 26px;
    color: #ed6c15;
    font-weight: bolder;
    padding-top:30px;
    
}
